body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Poppins";
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    background: #373b40;
    letter-spacing: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
main, body {
    display: block !important;
  }
  html {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #373B40; 
}

::-webkit-scrollbar-thumb {
  background: #68E0CF; 
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #68E0CF; 
}