body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Poppins";
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    background: #373b40;
    letter-spacing: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.container{
    margin: 0;
    position: relative;
    overflow: hidden;
}