.select_button {
  border: none;
  background:#68e0cf;
  letter-spacing: 2px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.select_option {
  font-weight: bold;
  background: white;
  color: #333;
}
