
.h3-title {
  font-family: "Poppins";
  font-size: 45px;
  margin: 10% 0 10% 0;
  text-decoration: underline;
}
.article-about {
  margin: 0 0 10% 0;
  font-size: 17px;
}
.section, .started {
  margin: 0;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 54px;
  position: relative;
  overflow: visible;
  min-height: 100%;
}