.container-informations{
  display: flex;
  justify-content: space-between;
}
.info-box {
  overflow: hidden;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.info-label {
  width: 35%;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  color: #68e0cf;
  white-space: nowrap;
}
.info-value {
  font-size: 18px;
  text-align: left;
  padding: 10px;
  color: inherit;
  
}
@media (max-width: 1260px) {
  .container-informations{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .info-box{
    width: 74%;
  }
  .info-value {
    font-size: 14px;
    overflow-wrap: break-word;
    text-align: left;
  }
}
@media (max-width: 415px){
  .container-informations{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .info-label{
    font-size: 10px;
    padding: 0;
    width: 10%;
  }
  .info-value{
    font-size: 10px;
    padding: 2%;
  }
}