  /* Styles pour le header */
  html {
    scroll-behavior: smooth;
  }
  
  .header {
    padding: 0 0 0 8px;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 40px;
    height: 80px;
    z-index: 500; /* Réduit le z-index pour éviter l'interférence avec le modal */
    background: #585d65;
    border-radius: 80px;
    transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
  }
  
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    padding: 0px;
    margin: 0px;
    position: relative;
  }
  /* Global Styles */
  ul {
    list-style-type: none;
    padding: 0px;
  }
  
  ul li {
    padding: 5px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    color: #68e0cf;
  }
  /* Navbar */
  
  .menu_list {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    cursor: pointer;
  }
  .menu_list li:hover{
    color: #68e0cf;
  }
  
  /* Mobile Navbar */
  .menu_icon {
    position: absolute;
    top: 27px;
    right: 20px;
    cursor: pointer;
    z-index: 1500;
  }
  
  .mobileNav_menu_container {
    position: relative;
    top: 60px;
  }
  
  .mobileNav_menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    margin: auto;
    background: transparent;
    border-radius: 4px;
    color: white;
    transition: ease all 0.4s;
    z-index: 100;
    font-size: 20px;
    font-weight: 500;
  }
  .mobileNav_open li:hover{
    color: #68e0cf;
  }
  
  .mobileNav_container {
    position: absolute;
    padding: 10px;
    background-color: transparent;
    z-index: 9999;
  }
  
  .mobileNav_closed {
    top: -300px;
  }
  
  .mobileNav_open {
    top: -50px;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 1190px) {
    .header{
        display: none;
    }
    /* Navbar Media Queries */
    .menu_list {
      display: none;
    }
    /* Mobile Navbar Media Queries */
    .mobileNav_container {
    position: absolute;
    left: -23%;
    }
    .buttonBurguer{
        z-index: 200;
        position: absolute;
        left: 49%;
    }
  }
  