
  .carousel-img{
    width: 70%;
  }
  .carousel-btn {
    background: none;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
.carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel-arrow{
  border: none;
  background: transparent;
  font-size: 40px;
}